  /* big tablets to 1200px (smaller than 1140px row) */

@media only screen and (max-width: 1200px) {
	
.header{
	width: 100%;
	padding: 0 2%;
	}
	.row{ padding: 0 3%; }





 /* small tablets to big tablets 768px - 1023px */


@media only screen and (max-width:1023px){
 body{font-size: 18px;}
section{padding:60px 0px;}
.long-para{
	width: 80%;
	margin-left: 10%;
	}
.signup-features i{
	margin-right: 5px;
	font-size: 60%;
 }
 .form{width: 80%;}
 footer li{	margin-right: 10px;}
.icon{
	margin-right: 5px;
	font-size: 50%;
}
}



 /* small phones to small tablets 481px - 767px */

@media only screen and (max-width:767px){
	

	body{font-size: 16px}
	.main-nav{display: none;}
	.mobile-nav-icon{
		display: inline-block;
	}
	.main-nav{
		float: left;
		margin-top: 30px;
		margin-left: 10px;
	}
	.main-nav li{
		display: block;

	}
	.main-nav li a:link,
	.main-nav li a:visited{
		display: block;
		border: 0px;
		font-size: 100%;
	}

.sticky .main-nav{
	margin-top: 15px;
}

.sticky .mobile-nav-icon i{ color: #000; }
.sticky .mobile-nav-icon { margin-top: 5px;}


.sticky .main-nav li{
	padding-left: 18px;
	padding-bottom: 10px;
	}











	.col{width: 100%;
		margin:0 0 4% 0;}
	}
	h1{font-size: 150%}
	h2{font-size: 120%}
	section{padding: 20px 0}
	.header,
	.row{width: 100%;
		padding: 0 4%}
	.btn{padding: 5px 10px;}
	.work-step div{
  	  	font-size: 130%;
	  	padding:3px;
	  	text-align: center;
	  	height: 40px;
	  	width: 40px;
	  	margin-right: 15px;
  }
  .step-box:first-child{text-align: center;}
  .step-box:last-child{margin-top: 40px;}
  .work-step{margin-bottom: 40px;}

}

/* small phones 0 - 480px */

@media only screen and (max-width:480px){
.header{top: 30%;}	
header{height: 50vh;}
form{width: 100%;}
	
}

 

 

